<section>
    <div class="container mt-4 ">
        <div class="row">

            {{#each product}}
            <div class="col-md-3  mb-4 ">
                <section>

                    <div class="card text-center "
                        style="width:auto; height:auto; background-image: linear-gradient(to right, rgb(205, 212, 226) , rgb(71, 87, 231));;)">
                        <img class="card-img-top img-fluid" style="height: 10rem;"
                            src="/product_images/{{this._id}}.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{this.productName}}</h4>
                            <p style="height:50px" class="card-text">{{this.Description}}.</p>
                            <a href="#" class="btn btn-primary " style="color:white;backgroud:">Add to cart</a>
                        </div>
                    </div>

                </section>
            </div>
            {{/each}}

        </div>
    </div>

</section>